@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&family=Anton&display=swap");
$home-color: #f7fdb6;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
