@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,900&family=Kaushan+Script&display=swap");
.container_cs {
  width: 100%;
  min-height: 89.8vh;
  min-height: 89.8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_conatiner_cs {
  color: #424141;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  font-size: 4rem;
  /* background-color: red; */

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;

  /* text-shadow: -31px 67px 17px rgb(55, 55, 55); */
  font-family: "Bodoni Moda", serif;
}

.content_ani_cs {
  margin-left: 40px;
  font-size: 10rem;
  color: #2ecd8d;
  text-shadow: none;
  font-family: "Kaushan Script", cursive;
  position: relative;
  perspective: 800px;
  transform: rotateX(0);
  backface-visibility: visible !important;
  animation: flipInX both 3s 1s;
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  15% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  45% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  60% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  75% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  90% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.content_ani_cs::after {
  content: "Smart";
  color: #f47c7c;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  transform: rotateX(180deg);
  animation: flipInX both 3s 3s infinite;
}
@keyframes flipInXafter {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  15% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  45% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  60% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  75% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  90% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
